body {
    background-color: red;
    color: white;
}

.article {background-color: purple;}

a {
    color: lightblue;
}

h1 {
    font-size: 250%;
   }

.bg-purple {
    background-color: purple;
}

footer {
    background-color: black;
}

.left {
    text-align: left;
    margin: auto;
    padding: 0px;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px
  }